HomeworkXML/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="gender" type="xs:string"/>
              <xs:element name="birthDate" type="xs:date"/>
              <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
              <xs:element name="email" type="xs:string"/>
              <xs:element name="university" type="xs:string"/>
              <xs:element name="specialty" type="xs:string"/>
              <xs:element name="facultyNumber" type="xs:string" minOccurs="0"/>
              <xs:element name="exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="examName" type="xs:string"/>
                          <xs:element name="dateTaken" type="xs:date"/>
                          <xs:element name="grade" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endorsements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="endorsement">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="author" type="xs:string"/>
              <xs:element name="authorEmail" type="xs:string"/>
              <xs:element name="endorsementDate" type="xs:date"/>
              <xs:element name="endorsementText" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>